body {
  background: #444;
  margin: 0;
}

#menu {
  position: absolute;
  top: 0px;
  z-index: 10;

  height: 16px;
  width: 100%;
  background: #555;
  color: #eee;
}

#close {
  cursor: pointer;
  float: right;
  padding-right: 10px;
  text-shadow: 1px 2px 1px rgb(32, 26, 42);
}

#game_frame {
  position: absolute;
  top: 0px;
  z-index: 1;

  width: 100%;
  height: 100%;
  border: none;
  background: #eee;
}

